<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookESell</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginMainServlet</display-name>
    <servlet-name>LoginMainServlet</servlet-name>
    <servlet-class>com.controller.LoginMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMainServlet</servlet-name>
    <url-pattern>/LoginMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupMainServlet</display-name>
    <servlet-name>SignupMainServlet</servlet-name>
    <servlet-class>com.controller.SignupMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupMainServlet</servlet-name>
    <url-pattern>/SignupMainServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listner.DBConnectionJoin</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>EditMainServlet</display-name>
    <servlet-name>EditMainServlet</servlet-name>
    <servlet-class>com.controller.EditMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMainServlet</servlet-name>
    <url-pattern>/EditMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPredefineServlet</display-name>
    <servlet-name>EditPredefineServlet</servlet-name>
    <servlet-class>com.controller.EditPredefineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPredefineServlet</servlet-name>
    <url-pattern>/EditPredefineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDataServlet</display-name>
    <servlet-name>EditDataServlet</servlet-name>
    <servlet-class>com.controller.EditDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDataServlet</servlet-name>
    <url-pattern>/EditDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDataServletModify</display-name>
    <servlet-name>EditDataServletModify</servlet-name>
    <servlet-class>com.controller.EditDataServletModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDataServletModify</servlet-name>
    <url-pattern>/EditDataServletModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDataServletModify1</display-name>
    <servlet-name>EditDataServletModify1</servlet-name>
    <servlet-class>com.controller.EditDataServletModify1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDataServletModify1</servlet-name>
    <url-pattern>/EditDataServletModify1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartMainServlet</display-name>
    <servlet-name>AddToCartMainServlet</servlet-name>
    <servlet-class>com.controller.AddToCartMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartMainServlet</servlet-name>
    <url-pattern>/AddToCartMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDataUser</display-name>
    <servlet-name>UpdateDataUser</servlet-name>
    <servlet-class>com.controller.UpdateDataUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataUser</servlet-name>
    <url-pattern>/UpdateDataUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>